<div class="top">
  <%= link_to 'Back', lists_path, :class => "button" %>
  <%= link_to 'Edit', edit_list_path(@list), :class => "button" %>
  <h1>show the list</h1>
</div>
<p id="notice"><%= notice %></p>

<div class="box">
  <div class="field">
    <p><span class="hh1">Name:</span> <%= @list.name %></p>
  </div class="field">
  <div class="field">
    <p><span class="hh1">Description:</span> <%= @list.description %></p>
  </div class="field">
</div class="box">


